@page
@model NotSoFunnyPage.BlondiesModel
@{
    ViewData["Title"] = "Blondies";
}

<ol>
    <li>
        <ul>
            <li><a>Hogyan lehet elsüllyeszteni egy szőke nőkkel teli tengeralattjárót?</a></li>
            <li><a>???</a></li>
            <li><a>Kopogj be!</a> <br /> <br /></li>
        </ul>
    </li>
    
    <li>
        <ul>
            <li>
                <a>
                    Szőke nő sírva meséli a barátnőjének:<br />
                    -Nem találom a kutyámat! Biztosan elveszett!<br />
                    -Adj fel egy hirdetést az újságban!<br />
                    -Te hülye, a kutyák nem tudnak olvasni!
                </a><br /> <br />
            </li>
        </ul>
    </li>

    <li>
        <ul>
            <li><a>
                A szöszi a barátjával kirándul. Amikor egy szakadékhoz érnek, a fiú így szól:<br />
                - Hú, de meredek!<br />
                - Jajj, de jó! Hadd fogjam meg!
                </a></li>
        </ul>
    </li>
</ol>


