@page
@model NotSoFunnyPage.EnglishJokesModel
@{
    ViewData["Title"] = "EnglishJokes";
}

<h1>Welcome! You want some british humour am I right?</h1>
<br /><br />
<ul>
    <li>What kind of beez making milk?</li>
    <li>???</li>
    <li>Boobies</li>
</ul>


