@page
@model NotSoFunnyPage.HungarianJokesModel
@{
    ViewData["Title"] = "HungarianJokes";
}


<h1>Üdvözleheletem az oldalon!</h1>
<br />
<a>Kérlek válassz az alábbiak közül!</a>
<ul>
    <li>
        <a href="Blondies">Szőkenős viccek</a>
    </li>
    <li>
        <a href="Police">Rendőrös viccek</a>
    </li>
    <li>
        <a href="Jew">Zsidós viccek</a>
    </li>
</ul>

<img src="https://media.giphy.com/media/RleyMr9S0w1KF8apx7/giphy.gif" />

