@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>This website is the store for the best jokes.<br />You will see!</h1>
</div>
<br />
<br />
<style>
    td {
        border: 2px solid #999;
        padding: 0.1em 1em;
    }

    body {
        background-color: blanchedalmond;
    }
</style>

<body>
    <form method="post">
        <fieldset>
            <legend>For subscription</legend>
            <label for="mail">Your e-mail:</label>
            <input type="text" name="mail" />
            <button>Confirm</button>
        </fieldset>
    </form>


    <br />

    <div class="text-center">
        <a>There are a lot of type for <strong>jokes</strong>. You can find:</a>
    </div>
</body>


<table align="center">
    <tr>
        <td>Blonde women</td>
        <td>Mother in law</td>
    </tr>
    <tr>
        <td>Policeman</td>
        <td>Jew</td>
    </tr>
    <tr>
        <td>Racist</td>
        <td>Jokes from words</td>
    </tr>
</table>
<br />

<div style="text-align:center">
    <img src="https://66.media.tumblr.com/33900a431c93590fe562e1ee010e5294/73145c09e314ef0c-74/s400x600/3cbd091839d04e97be3636a0223b7d6074a46f86.gifv" />
    <br />
    <img src="https://media2.giphy.com/media/1dPbDxnuBrW3qKTvnW/source.gif" />
    <br /><br /><br />
</div>