@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1>This website is the store for the best jokes.<br />You will see!</h1>
</div>

<a>There are a lot of type for jokes. You can find:</a>
<style>
    td {
        border: 2px solid #999;
        padding: 0.1em 1em;
    }
</style>
<table>
    <tr>
        <td>Blonde women</td>
        <td>Mother in law</td>
    </tr>
    <tr>
        <td>Policeman</td>
        <td>Jew</td>
    </tr>
    <tr>
        <td>Racist</td>
        <td>Jokes from words</td>
    </tr>
</table>
