@page
@model NotSoFunnyPage.JewModel
@{
    ViewData["Title"] = "Jew";
}

    <ol>
        <li>
            <ul>
                <li>
                    <a>
                        Mi a különbség a gazdag és a szegény zsidó között?<br />
                        - ???<br />
                        - A szegény zsidó saját maga mossa a Mercedes-ét.
                    </a><br /> <br />
                </li>
            </ul>
        </li>

        <li>
            <ul>
                <li><a>Miért van nagy orra a zsidónak?<br /></a></li>
                <li><a>???<br /></a></li>
                <li><a>Mert a levegő ingyen van.</a></li>
            </ul>
        </li>
    </ol>




 

