@page
@model NotSoFunnyPage.PoliceModel
@{
    ViewData["Title"] = "Police";
}


<ol>
    <li>
        <ul>
            <li>
                <a>
                    Két rendőr beszélget:<br />
                    - Te mivel eszed a tésztát?<br />
                    - Rádióval.<br />
                    - Hogy-hogy?<br />
                    - Tudod, az asszony mindig megkérdezi, hogy: kérsz rá diót?
                </a><br /> <br />
            </li>
        </ul>
    </li>

    <li>
        <ul>
            <li>
                <a>
                    A rendőr sétálás közben nem néz maga elé, hanem az eget kémleli, így egyszercsak beesik a csatornába.<br />
                    Kimászik majd csak ennyit mond: <br />
                    - Isteni szerencse, hogy nem volt rajta tető, mert akkor ki sem tudnék mászni!
                </a>
            </li>
        </ul>
    </li>
</ol>


